h2 {
  color: green;
  font-style: italic;
}

.error {
  color: rgb(255, 0, 0);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog {
  color: purple;
  padding-top: 5px;
  font-size: 15px;
}
